@model StoredItem

@using (Html.BeginForm("Add", "Storekeeper", FormMethod.Post))
{
    <div class="full-width center-align">
        @Html.LabelFor(m => m.id_item, "Деталь", new { @class = "header-1" })
        <br />
        @Html.DropDownListFor(m => m.id_item, new SelectList(ViewBag.Items, "id", "FullName"), "", new { @class="half-width" })
        <br /><br />
        @Html.LabelFor(m => m.id_item, "Стоимость", new { @class = "header-1" })
        <br />
        @Html.TextBoxFor(m => m.buy_price, new { @class = "half-width" })
        <br /><br />
        @Html.LabelFor(m => m.id_item, "Адрес", new { @class = "header-1" })
        <br />
        @Html.TextBoxFor(m => m.place, new { @class = "half-width" })
        <br /><br />
        @Html.LabelFor(m => m.id_item, "На складе?", new { @class= "header-1" })
        <br/>
        @Html.CheckBoxFor(m => m.isOnStorage, new { @class = "checkbox-default-size" })
        <br /><br />
    </div>
    <div class="full-width center-align">
        <input type="submit" value="Добавить" />
    </div>
    <br />
}