@{
    Complectation complect = ViewBag.Complect;
    if (complect != null)
        ViewData["Title"] = "Комплектация " + ViewBag.Complect.name;
    else
        ViewData["Title"] = "Комплектации";
}
@if (complect != null)
{
    <div class="d-flex justify-content-start bd-highlight">
        <div class="default-margin">
            <img class="detail-complect-img" src="~/img/@(complect.id).png">
        </div>
        <div class="default-margin d-flex justify-content-start bd-highlight">
            <div class="default-margin">
                <label class="detail-header">Комплектация "@(complect.name)"</label>
                <ul>
                    @foreach (Complectation.ComplectationLine curItem in complect.GetComplect())
                    {
                        <li>@(curItem.Type): @(curItem.Manufacturer) @(curItem.Name)</li>
                    }
                </ul>
            </div>
            <div class="default-margin">
                @if (complect.available)
                {
                    <label class="detail-header">@(string.Format("{0:C}", complect.price).Replace(' ', '\u00A0'))</label>
                }
                else
                {
                    <label class="detail-header">Нет&nbspв&nbspналичии</label>
                }
            </div>
        </div>
    </div>
    <label class="detail-description">@complect.description</label>
}